{{ partial "head" . }}
{{ partial "nav" . }}

<!-- Page Header -->
<article>{{ if .Params.image }}
    <header class="masthead" style="background-image: linear-gradient(rgba(3,6,3,.7), rgba(3,6,3,.5)), url('{{ .Params.image }}')">
    {{ end }}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="post-heading">
                        <span>Read in {{ .ReadingTime }} minutes</span>
                        <h1>
                          {{.Title}}
                        </h1>
                        <p class="lead">
                          {{ .Description }}
                        </p>
                        <span class="meta text-right">Posted by <a href="https://www.okabrionz.com/about"><strong>Oka Brionz</strong></a> on {{ .Date.Format "Mon, Jan 2, 2006" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <p>
                        {{ .Content }}
                    </p>
                </div>
            </div>
        </div>
</article>
<div class="container text-center">
    <div class="card card-inverse" style="background-color: #363738; border-color: #666;">
  <div class="card-block">
    <h3 class="card-title">Make Your Website Faster</h3>
    <img src="/okabrionz.png" alt="oka brionz professional web designer and web developer." class="rounded float-left img-thumbnail">
    <p class="card-text">I will optimize your site and boost loading time as fast as possible.</p>
    <a href="/contact" class="btn btn-primary float-right">Hire me!</a>
  </div>
</div>
</div>

</div>
<hr>
{{ partial "footer" . }}
