<!-- Page Header -->
    <header class="masthead" style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.3)), url('{{.imageUrl}}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1 class="display-3">
                          {{.title}}
                        </h1>
                        <hr>
                        {{ if .subtitle }}
                        <span class="subheading">
                          {{.subtitle}}
                        </span>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </header>